POSTGRES_USER=appdental
POSTGRES_PASSWORD=
POSTGRES_DB=appdental

MINIO_ROOT_USER=adminauth
MINIO_ROOT_PASSWORD=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

SEED_ADMIN_EMAIL=admin@clinica.test
SEED_ADMIN_PASSWORD=

# Substitueix <PASSWORD_BD> per la contrasenya del teu POSTGRES_PASSWORD
DATABASE_URL="postgresql://appdental:<PASSWORD_BD>@localhost:5432/appdental?schema=public"
